$primary-red: #e83a4b;
$secondary-red: #fbd6d3;
$pale-red: #eeeae6;
$paler-red: #f9f5f4;

html {
    color: $primary-red;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;

}

body {
    background-color: $pale-red !important;
    color: $primary-red;
}

.card-title {
    font-family: "Kanit", sans-serif;

}

.card-title,
.card-text {
    color: $primary-red;
    font-family: "Poppins", sans-serif;
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.1rem;
}


.btn-red {
    background-color: $primary-red;
    border: none;
}

.card {
    border: none;
    border-radius: 0;
    background-color: $pale-red;
}

.navbar {
    .navbar-nav {
        gap: 1px;

        .nav-item {
            &:hover {
                background-color: $pale-red;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .nav-link {
                color: $primary-red;
                font-family: "Poppins", sans-serif;

                font-weight: 400;
                border: transparent 1px solid;
                border-radius: 15px;
            }
        }

    }

    .active {
        background-color: $pale-red;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .nav-link {
            font-weight: 700;
        }
    }

    .logo {
        margin-top: -15px;
    }
}

.bg-pale {
    background-color: #f9f5f4;
}

.custom-btn-primary {
    background-color: $primary-red;
    border: transparent 1px solid;
    border-radius: 20px;
    color: #fff;
    padding: 6px 10px 7px;
    border: $primary-red 1px solid;

    &:hover {
        background-color: transparent;
        color: $primary-red;
        border: $primary-red 1px solid;
    }
}

.custom-btn-secondary {
    background-color: transparent;
    border: transparent 1px solid;
    border-radius: 8px;
    color: $primary-red;
    padding: 6px 10px 7px;

    &:hover {
        border: $primary-red 1px solid;
    }
}

.beans-list, .beans-list-preview {
    .card-img-wrap {
        max-width: 240px;
        img {
            width: 100%;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.arrow-btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;

    &:hover {
        border: 1px solid $primary-red;
    }
}

.logo {
    img {
        height: 35px;
        width: 50px;
        rotate: 40deg;
    }

}

.bean-details {
    font-family: "Poppins", sans-serif;

    .card-wrap {
        background-color: $paler-red;
        border-radius: 15px;
    }

    .color-box {
        border-radius: 20px;
        padding: 8px 10px 7px 10px;
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-container-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.combination-details {
    ul {
        list-style: none;
        border-left: 8px solid $primary-red;
        padding-left: 15px;
        padding-bottom: 3px;
        margin-left: 10px;
    }
}

.happy-bean {
    max-width: 180px;
}

.history-list {
    .card {
        border: 1px solid $primary-red;
        background-color: $paler-red;
        border-radius: 10px;
    }
    
    .arrow {
        padding-left: 15px;
    }
}


.homepage {
    .viewport {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h1 {
        font-size: 4.2rem;
    }

    h2 {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3rem;
    }

    .view-all-btn {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-top: 10px;

        a {
            text-decoration: none;
            color: $primary-red;
            padding: 10px;
            border-radius: 15px;
            font-size: 2.2rem;
        }
    }

    .homepage-img {
        display: inline-block;
        overflow: hidden;


        .jelly-bean-main {
            max-width: 500px;
            display: block;
            width: 100%;
            height: auto;
            transition: filter 2s ease-in-out;

            &:hover {
                filter: hue-rotate(360deg);
            }
        }

    }

}

.navbar-toggler {
    border: 4px solid $pale-red;

    &:focus {
        color: transparent;
        border: 4px solid transparent;
    }
}

.wrap-preview-light {
    background-color: $paler-red;
    padding: 2%;
    border-radius: 20px;

    .card {
        border-radius: 10px;
    }
}

.wrap-preview-mid {
    background-color: $secondary-red;
    padding: 2%;
    border-radius: 20px;

    .card {
        border-radius: 10px;
    }
}


.jelly-cherry-flavor {
    width: 88px;
    height: 92px;
}

.footer {
    p {
        font-size: 0.9rem;
    }

    .footer-img {
        max-width: 250px;
        img {
            max-width: 100%;
            margin-top: -15px;
        }
    }

    .navbar-footer {
        gap: 2px;

        .nav-link {
            font-size: 0.9rem;
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            border-radius: 7px;
            font-family: "Poppins", sans-serif;

            &:hover {
                background-color: $pale-red;
            }
        }
    }
}
.beans-list, .recipe-list, .facts-list, .combinations-list {
    .card {
        background-color: $paler-red;
        border-radius: 10px;
        border: 1px solid $primary-red;
    }
}

.beans-list, .recipe-list, .combinations-list {
    .card {
        cursor: pointer;
    }
}


.recipe-img-wrap {
    max-width: 500px;
    .recipe-img {
        max-width: 100%;
    }
}